# App
PORT=3000
API_PREFIX=api

# PostgreSQL (Supabase)
DATABASE_URL=postgresql://postgres:postgres@localhost:5432
DB_NAME=db_name

# Upload (future cloud)
R2_ACCOUNT_ID=
R2_ACCESS_KEY=
R2_SECRET_KEY=
R2_BUCKET=
R2_PUBLIC_URL=


# Frontend
FRONTEND_URL=http://localhost:3000

# Mail (Resend)
RESEND_API_KEY=
MAIL_FROM=noreply@yourdomain.com

#supabase
SUPABASE_JWT_SECRET=
SUPABASE_JWT_PUBLISHABLE=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_HOOK_SECRET=

# Rate limiting
THROTTLE_TTL=60
THROTTLE_LIMIT=100

# Cloudflare KV (OTP cache)
CF_ACCOUNT_ID=
CF_KV_NAMESPACE_ID=
CF_KV_API_TOKEN=

# Cache (redis | cloudflare)
CACHE_DRIVER=redis
REDIS_URL=redis://localhost:6379